*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $primary-color;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer p {
  color: #ffffff;
  width: 231px;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  margin-bottom: 27px;
}

.is-hidden {
  visibility: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000060;
  width: 100%;
  height: 100%;
}