$primary-color: #212121;
$secondary-color: #2196f3;
$color-white: #ffffff;
$color-border: #f5f4fa;
$color-text-secondary: #757575;
$color-gray: #afb1b8;
$color-blue: #188ce8;
$color-dark-blue: #2f303a;
$color-border-bottom:#ececec;
$color-background-social:rgba(255, 255, 255, 0.1);
$color-border-card: #eeeeee;
